//	Basic Styles
//	version 1.1


body {
	height: 2000px;
	margin: 0 auto;
}

a  {
	font-weight: bold;
	font-size: 1.5em;
	color: $white;
	text-decoration: none;
	font-family: "pt-sans", sans-serif;
	letter-spacing: 0.8px;
}

h1 {
	font-family: "Ubuntu", sans-serif;
	font-size: 5em;
	color: $lightBlue;
}

h2 {
	font-family: "Ubuntu", sans-serif;
	font-size: 2em;
	color: $darkGrey;
}

h3 {
	font-family: "pt-sans", sans-serif;
	font-size: 1.7em;
	color: $lightBlue;
	font-weight: lighter;
	letter-spacing: 1px;
}

p {
	font-family: sans-serif;
	font-weight: lighter;
	color: $darkGrey;
}

/*================================
=            About Us            = // Currently Being Worked On by Micaiah
================================*/

.about-bg {

}

.about {
	@include gridle(12);
	header {
		padding-top: 30px;
		text-align: center;
		h1 {
			text-shadow: 0 1px 1px rgba(000,000,000,0.1);
			&:before {
				z-index: -1;
				content: url(../img/line.png);
				float: left;
				position: relative;
				bottom: 15px;
				left: 35px;
			}
			&:after {
				z-index: -1;
				content: url(../img/line.png);
				float: right;
				position: relative;
				bottom: 15px;
				right: 35px;
			}
		}
	}
}

.about h3 {
	padding: 10px 0;
}

.about section{
	margin: 20px auto 0 auto;
	@include gridle(4);
	text-align: justify;
	h2 {
		padding-top: 15px;
	}
	p {
		padding: 10px;
	}
	&:hover {
		header a {
			background-color: $lightBlue;
			color: $white;
			border-color: $darkBlue;
			@include transition(0.3s);
		}
		.fa-mobile {
			background-color: $lightPurple;
			border-color: $darkPurple;
		}	
		.fa-flag {
			background-color: $lightYellow;
			border-color: $darkYellow;
		}
	}

}


.about a {
	color: $lightBlue;
	font-size: 3em;
	border-radius: 100%;
	margin: 0 auto;
	width: 80px;
	height: 65px;
	padding-top: 15px;
	display: block;
	border: 3px solid $lightBlue;
	@include transition(0.5s);

}




/*-----  End of About Us  ------*/

