//  Basic Styles
//  version 1.5

body {
    height: 2000px;
    margin: 0 auto;
}

a {
    font-weight: bold;
    font-size: 1.5em;
    color: $white;
    text-decoration: none;
    font-family: "pt-sans", sans-serif;
    letter-spacing: 0.8px;
}

h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 5em;
    color: $lightBlue;
}

h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    color: $darkGrey;
}

h3 {
    font-family: "pt-sans", sans-serif;
    font-size: 1.7em;
    color: $lightBlue;
    font-weight: lighter;
    letter-spacing: 1px;
}

h4 {
    font-family: 'Abel', sans-serif;
    font-size: 1.5em;
    color: $white;
    letter-spacing: 1px;
}

p {
    font-family: sans-serif;
    font-weight: lighter;
    color: $darkGrey;
}

/*================================
=            About Us            = // Needs information about us.
================================*/

.about-bg {
    margin-bottom: 50px;
}

.about a {
    color: $lightBlue;
    font-size: 3em;
    border-radius: 100%;
    margin: 0 auto;
    width: 80px;
    height: 65px;
    padding-top: 15px;
    display: block;
    border: 3px solid $lightBlue;
    @include transition(0.5s);
}

.about {
    @include gridle(12);
    header {
        padding-top: 30px;
        text-align: center;
        h1 {
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            &:before {
                z-index: -1;
                content: url(../img/line.png);
                float: left;
                position: relative;
                bottom: 15px;
                left: 35px;
            }
            &:after {
                z-index: -1;
                content: url(../img/line.png);
                float: right;
                position: relative;
                bottom: 15px;
                right: 35px;
            }
        }
        h3 {
            padding: 10px 0;
        }
    }
}

.about section {
    margin: 20px auto 0 auto;
    @include gridle(4);
    text-align: justify;
    h2 {
        padding-top: 15px;
    }
    p {
        padding: 10px;
    }
    &:hover {
        header a {
            background-color: $lightBlue;
            color: $white;
            border-color: $darkBlue;
            @include transition(0.3s);
        }
        .fa-mobile {
            background-color: $lightPurple;
            border-color: $darkPurple;
        }
        .fa-flag {
            background-color: $lightYellow;
            border-color: $darkYellow;
        }
    }
}

/*-----  End of About Us  ------*/

/*==============================
=            Skills            = // Structure Complete..Just needs info.
==============================*/

.skills-bg {
    width: 100%;
    background: white url(../img/slide-2-bg.jpg) 75% 75% fixed no-repeat;
    width: 100%;
    height: 16%;
    padding: 60px 0 60px 0;
}

.skills {
    h3 {
        color: lighten($lightBlue, 10%);
        margin-bottom: 50px;
        font-size: 2.5em;
        font-weight: lighter;
        border-bottom: 2px solid lighten($lightBlue, 10%);
        padding-bottom: 10px;
        width: 100px;
    }
    p {
        color: $white;
        text-align: justify;
    }
    .main-section {
        @include gridle(6);
    }
}

.skills .meter { // Progress Bars. To display our skills.
    height: 40px;
    margin: 10px 0;
    p {
        font-family: 'pt-sans';
        text-align: center;
        margin-top: 0.25em;
        font-weight: lighter;
        font-size: 1.8em;
    }
}

.skills footer {
    padding-bottom: 20px;
    .readmore {
        font-size: 1.4em;
        margin-top: 4em;
        font-family: 'pt-sans', sans-serif;
        font-weight: bold;
        @extend %btn-secondary;
    }
}

/*-----  End of Skills  ------*/

/*============================
=            Team            = // Complete, just needs content.
============================*/

.team-bg {
    margin-top: 50px;
}

.team {
    @include gridle(12);
}

.team section {
    @include gridle(4);
    margin-top: 20px;
    .team-blue {
        background-color: $lightBlue;
    }
    .team-green {
        background-color: $lightGreen;
    }
    .team-yellow {
        background-color: $lightYellow;
    }
    h2 {
        color: $darkGrey;
        &:hover {
            color: $white;
        }
    }
}


.team section footer {
    text-align: center;
    background-color: $lightBlue;
    h3 {
        padding: 20px 0;
        color: $white;
    }
}

.team-intro {
    text-align: center;
    h1 {
        color: $lightGreen;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        &:before {
            z-index: -1;
            content: url(../img/Line_green.png);
            float: left;
            position: relative;
            bottom: 15px;
            left: 35px;
        }
        &:after {
            z-index: -1;
            content: url(../img/Line_green.png);
            float: right;
            position: relative;
            bottom: 15px;
            right: 35px;
        }
    }
}


/*-----  End of Team  ------*/

/*=================================
=            Portfolio            =
=================================*/

.portfolio-bg {
    margin-top: 75px;
    width: 100%;
    background: white url(../img/port-bg.png) fixed repeat;
    width: 100%;
    padding: 60px 0 60px 0;
}

.portfolio {
    header {
        text-align: center;
        @include gridle(12);
        margin-bottom: 30px;
    }
    section {
        margin: 10px;
        @include gridle(3);
        width: 300px;
        height: 168px;
        background: $white url(../img/item_thumb.jpg) center no-repeat;
        &:hover {
            @include transition(0.3s);
            .fa-plus-circle {
                opacity: 0.8;
                margin-left: 80px;
            }
            .fa-external-link {
                opacity: 0.8;
                margin-left: 10px;
                transition-delay: 0.1s;
            }
            .fa-star {
                opacity: 0.8;
                margin-left: 10px;
                transition-delay: 0.2s;
            }
        }
    }

}
.portfolio section .fa {
    margin-top: 70px;
    margin-left: 0;
    opacity: 0;
    @include transition(0.3s);
    color: $lightPurple;
    &:hover {
        opacity: 1;
        @include rotate(15deg);
    }
}

.portfolio section .fa-plus-circle {
    color: $lightRed;
}

.portfolio section .fa-star {
    color: $darkYellow;
}


.portfolio h1 {
    color: $lightPurple;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        &:before {
            content: url(../img/line_purple.png);
            float: left;
            position: relative;
            bottom: 15px;
            left: 35px;
        }
        &:after {
            content: url(../img/line_purple.png);
            float: right;
            position: relative;
            bottom: 15px;
            right: 35px;
        }
}




/*-----  End of Portfolio  ------*/



