// No Buttons YET!!

%btn-main {
	border-radius: 100%;
	border: 2px solid $white;
	font-weight: lighter;	
	@include transition(0.3s);
	&:hover {
		@include transition(0.3s);
		background-color: rgba(249, 249, 249, 0.3);
		color: $darkGrey;
	}
}

%btn-secondary {
	display: inline-block;
	border-radius: 3px;
	border: 2px solid $white;
	@include transition(0.5s);
	padding: 10px;
	&:hover {
		@include transition(0.5s);
		background-color: rgba(255,255,255,0.3);
	}
}


