
// Color Settings and Variables.


// Grey--------------------------------------------|
$darkGrey    : #2d3e50; //RBGA: rgba(45, 62, 80, 1)|
$lightGrey   : #4e525d; //RBGA: rgba(78, 82, 93, 1)|	
//-------------------------------------------------|

// Blue----------------------------------------------|
$darkBlue    : #2a80b9; //RBGA: rgba(42, 128, 185, 1)|
$lightBlue   : #3598dc; //RBGA: rgba(53, 152, 220, 1)|
//---------------------------------------------------|

// Purple--------------------------------------------|
$darkPurple  : #8f44ad; //RBGA: rgba(143, 68, 173, 1)|
$lightPurple : #9c59b8; //RBGA: rgba(156, 89, 184, 1)|
//---------------------------------------------------|

// Green---------------------------------------------|
$darkGreen   : #16a086; //RBGA: rgba(22, 160, 134, 1)|
$lightGreen  : #1bbc9d; //RBGA: rgba(27, 188, 157, 1)|
//---------------------------------------------------|

// White----------------------------------------------|
$white       : #f9f9f9; //RBGA: rgba(249, 249, 249, 1)|
$darkWhite   : #f1f1f1; //RBGA: rgba(241, 241, 241, 1)|
//----------------------------------------------------|

// Yellow---------------------------------------------|
$darkYellow   :#f49c14; //RBGA: rgba(244, 156, 20, 1) |
$lightYellow  :#f1c40f; //RBGA: rgba(241, 196, 15, 1) |	
//----------------------------------------------------|