// Masthead Style

.masthead {
	width: 100%;
	background: #fff url(../img/header-bg.jpg) no-repeat fixed;
	text-align: center;
	padding: 220px 0 250px 0;
}

.logo {
	h1 {
		font-family: sans-serif;
		font-weight: 300;
		font-size: 3.3em;
		color: #f9f9f9;
		@include single-text-shadow(rgba(000,000,000,0.3), 1px, 1px, 3px);
	}
	p {
		color: #f9f9f9;
		font-family: sans-serif;
		font-size: 2em;
		padding-top: 10px;
		@include single-text-shadow(rgba(000,000,000,0.3), 1px, 1px, 1px);
	}
} 
