// Styles the nav and nav-bg classes
.nav-bg {
	@include box-shadow(darken(#2f9ca3, 10%) 0 5px 0, rgba(000,000,000,0.3) 0 5px 5px);
	background-color: #2f9ca3;
	height: 60px;
	@include transition(2s);
	width: 100%;
	opacity: 0.9;
}

nav {
	z-index: 999;// Make sure z-index is a lot
	@include gridle(12);
	text-align: center;
	li {
		display: inline-block;
		padding: 0 3em;
	}
	ul {
		padding-top: 20px;
	}
	a {
		text-shadow: 0 1px 1px rgba(000,000,000,0.3);
		@include transition(0.5s);
		display: inline-block;
		padding-bottom: 16px;
		border-bottom: 5px solid darken(#2f9ca3, 10%);
	}
}

// Hover States For Navigation Tabs

.he:hover { //Home Tab
	@include transition(0.5s);
	border-color: $darkGrey;
}
.at:hover { //About Us Tab
	@extend .he:hover;
	border-color: lighten($lightBlue, 10%);
}
.tm:hover {//Team Tab
	@extend .he:hover;
	border-color: lighten($lightGreen, 10%);
}
.po:hover {//Portfolio Tab
	@extend .he:hover;
	border-color: lighten($lightPurple, 10%);
}
.ct:hover {//Contact Us Tab
	@extend .he:hover;
	border-color: $lightYellow;
}
