.meter { 
	height: 30px;  /* Can be anything */
	background: rgba(78, 82, 93, 0.7);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	span {
		display: block;
		height: 100%;
		   -webkit-border-top-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		       -moz-border-radius-topright: 5px;
		    -moz-border-radius-bottomright: 5px;
		           border-top-right-radius: 5px;
		        border-bottom-right-radius: 5px;
		    -webkit-border-top-left-radius: 5px;
		 -webkit-border-bottom-left-radius: 5px;
		        -moz-border-radius-topleft: 5px;
		     -moz-border-radius-bottomleft: 5px;
		            border-top-left-radius: 5px;
		         border-bottom-left-radius: 5px;
		background-color: rgb(43,194,83);
		overflow: hidden;
	}
}

.orange > span {
		background-color: $darkYellow;
	}
		
.red > span {
	background-color: $darkRed;
}

.blue > span {
	background-color: $darkBlue;
}


